{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<style>
    .cell{
        width: 10px;
        height: 10px;
        border : 1px solid black
    }
    .obstacle{
        background-color: black
    }
    .game{
        display: flex;
    }
</style>
<div class="game">
    {% for x in range(0, board.width - 1 ) %}
        <div class="row">
            {% for y in range(0, board.height - 1 ) %}
                {% set type= board.getCellType(x,y) %}
                <div class="cell {{ type }}"></div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
