{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>WIDTH {{ board.width }}</h1>
    <h2>HEIGHT {{ board.height }}</h2>
</div>
{% endblock %}
